
<div class="row">
  <div class="col-xs-12 text-center" style="background-color: Aquamarine">
    <h1 style="color: blue">Meus Produtos</h1>
  </div>

  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome do Produto</th>
          <th>Descrição</th>
          <th colspan="2">
            Ações
            <%= link_to 'Novo Produto', new_product_path, class: 'btn btn-success' %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% if @products.empty? %>
          <tr>
            <td colspan="4" class="text-center">
              <h3>Sem produtos cadastrados.</h3>
           
            </td>
          </tr>
        <% end %>
        <% @products.each do |p| %>
        <tr>
          <td>
            <%= p.name %>
          </td>
          <td>
            <%= p.description %>
          </td>
          <td>
            <%= link_to 'Editar', edit_product_path(p), class: 'btn btn-warning' %>
          </td>
          <td>
            <%= link_to 'Excluir', product_path(p), method: :delete, class: 'btn btn-danger', data: { confirm: 'Tem certeza que deseja excluir este produto?' } %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


